<launch>
    <!-- Argument for specifying the bag file -->
    <arg name="bag_file" default="/catkin_workspace/edge_detection_data/withpointcloud.bag"/>

    <!-- Start ROS bag playback -->
    <node pkg="rosbag" type="play" name="rosbag_play" args="$(arg bag_file) --clock"/>

    <!-- Start the Edge Detection Node -->
    <node pkg="edge_detection" type="edge_detection_node.py" name="edge_detection" output="screen"/>

</launch>
